@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;
  
  .row {
    display: flex;
    flex-direction: row;
    min-width: 20px;
    height: $row-height;

  } 
  
  .row-info { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background-color: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 40px;
    width: $cell-width;
    background-color: #f8f9fa;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%; 
  }

  .cell {
    overflow: hidden;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    min-width: 40px;
    width: $cell-width;
    height: 100%;
    padding: 5px;

    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    outline: none;

    color: #111;
    white-space: nowrap;

    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5000;

    background: $primary-color;
    opacity:  0;
    
    &:hover {
      opacity: 1!important;
    }
  }

  .col-resize {
    top: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
    
  }
}